#container
  #content
    %h1 Math
    %h2 #{@item.name}

    #graph.lines
      %svg{ :style => 'height: 200px' }

    #options
      %small
        Displaying as
        %strong#settings_link{ :href => '#' }
          #{@item.display_frequency.capitalize} #{@item.display_type.capitalize}
          %span.arrow &#x25BE;
          %ul#settings_menu
            %li
              %a{ :href => '#', :'data-display-type' => 'total', :'data-display-frequency' => 'daily' } Daily Total
            %li
              %a{ :href => '#', :'data-display-type' => 'average', :'data-display-frequency' => 'daily' } Daily Average

        This item is
        %strong#privacy_link{ :href => '#' }
          #{(@item.privacy? ? 'Private' : 'Public')}
          %span.arrow &#x25BE;
          %ul#privacy_menu
            %li
              %a{ :href => '#', :'data-privacy' => 'false' } Public
            %li
              %a{ :href => '#', :'data-privacy' => 'true' } Private

    %table.records
      - @item.records.order_by([[:created_at, :desc]]).each do |record|
        %tr
          %td #{record.amount}
          %td #{record.created_at}
          %td
            %a.delete_record{ :href => '#', :rel => "#{record.id.to_s}" } Delete

    %script{ :type => 'text/javascript' }
      var graph_data = { values: #{@records.to_a} };
      var item_id = '#{@item.id.to_s}';