!!!
%html
	%head
		%title D#M
		%link{ :rel => 'stylesheet', :href => '/css/style.css' }
		%link{ :rel => 'stylesheet', :href => '/css/nv.d3.css' }
		%link{ :rel => 'stylesheet', :href => '/fonts/Otari-Regular-Web/stylesheet.css' }
		%meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1' }

	%body
		#sidebar
			%a#plus{ :href => '#' }
				+

			%form{ :id => 'record_form', :method => 'POST', :action => '/records' }
				%p
					%input{ :type => 'text', :name => 'item_name', :id => 'item_name', :placeholder => 'Item' }
				%p
					%input{ :type => 'text', :name => 'amount', :id => 'amount', :placeholder => 'Amount' }
				%p
					%input{ :type => 'submit', :id => 'submit_item', :value => 'Save' }
				.clear

			%ul#items
				- @user.items.each do |item|
					%li
						%a{ :href => '/item/' + item.id.to_s } #{item.name}

		#container
			#content
				%h1 Math

				= yield

			#footer

		<!--[if lt IE 9]>
		<!-- For compatibility with older IEs -->
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
		<script src="/js/excanvas.min.js"></script>
		<![endif]-->

		%script{ :type => 'text/javascript', :src => '/js/zepto.min.js' }
		%script{ :type => 'text/javascript', :src => '/js/d3.v2.min.js' }
		%script{ :type => 'text/javascript', :src => '/js/nv.d3.js' }
		%script{ :type => 'text/javascript', :src => '/js/utils.js' }
		%script{ :type => 'text/javascript', :src => '/js/tooltip.js' }
		%script{ :type => 'text/javascript', :src => '/js/models/legend.js' }
		%script{ :type => 'text/javascript', :src => '/js/models/axis.js' }
		%script{ :type => 'text/javascript', :src => '/js/models/scatter.js' }
		%script{ :type => 'text/javascript', :src => '/js/models/line.js' }
		%script{ :type => 'text/javascript', :src => '/js/models/lineChart.js' }
		%script{ :type => 'text/javascript', :src => '/js/keymaster.min.js' }

		:javascript
			var items = [];
			var records = {};

			$(document).ready(function ($) {
				key.filter = function (event) {
				  var tagName = (event.target || event.srcElement).tagName;
				  return !(tagName == 'SELECT' || tagName == 'TEXTAREA');
				}

				function showModal() {
					$('#plus').addClass('active');
					$('#item_name').focus();
				}
				function closeModal() {
					$('#plus').removeClass('active');
				}

				//switch to record form with ` key
			  key('=', function(e){
			  	e.preventDefault();

			    showModal();
			  })

			  //switch to records list with escape
			  key('esc', function(e){
			  	e.preventDefault();

			    closeModal();
			  })


			  list_active = function () {
			  	if (!$('#records').hasClass('active')) {
			      $('#record_form').removeClass('active');
			      $('#records').addClass('active');
			    }
			  }

			  isNumber = function (value) {
					if ((undefined === value) || (null === value)) {
						return false;
					}
					if (typeof value == 'number') {
						return true;
					}
					return !isNaN(value - 0);
				}

			  //get items
			  $.getJSON(
			    '/api/1/users/#{@user.id.to_s}/items.json?accesskey=#{@user.accesskey.token.to_s}',
			    function (e) {
			    	var values = '';

			      $(e).each(function (i, item) {
							$("<div><h2>" + item.name + "</h2></div>").attr('id', 'chart_' + item.id).append("<svg style='height: 200px' />").appendTo('#records')

			        d3.json('/api/1/users/#{@user.id.to_s}/items/' + item.id + '/records.json?accesskey=#{@user.accesskey.token.to_s}', function(data) {
			        	values = $(data.values).map(function(i, value) {
			        		if (isNumber(value)) {
			        			return { x: i, y: value };
			        		}
			        	})

			        	nv.addGraph(function() {
								  var chart = nv.models.lineChart();

								  chart.yAxis
								      .tickFormat(d3.format(',.1f'))

								  d3.select('#chart_' + item.id + ' svg')
								    .datum(return_values(values))
								    .transition().duration(500)
								    .call(chart);

								  //TODO: Figure out a good way to do this automatically
								  nv.utils.windowResize(chart.update);

								  return chart;
								});
							})
			      })
			    }
			  )


				function return_values (data) {
					return [
				    {
				    	area: true,
				      values: data,
				      color: "#faa"
				    }
				   ]
				}


				var sidebar = $('#sidebar');
				var toggle_sidebar = function () {
					if (!sidebar.hasClass('active')) {
						$('#sidebar').addClass('active');
					} else {
						$('#sidebar').removeClass('active');
					}
				}

			  $('#plus').bind('click', function (e) {
			  	toggle_sidebar();
			  })

			  $('#plus').tap(function () {
			  	toggle_sidebar();
			  })

			  $('#record_form').bind('submit', function (e) {
			    e.preventDefault();

			    if ($('#record_form #amount').val() == '' || $('#record_form #item_name').val() == '') {
			    	return false;
			    }

			    $('#submit_item').val('Saving...').addClass('disabled')

			    $.ajax({
			      type: 'post',
			      url: '/api/1/users/#{@user.id.to_s}/records',
			      dataType: 'json',
			      data: {
			        accesskey: 	'#{@user.accesskey.token.to_s}',
			        item_name: 	$('#record_form #item_name').val(),
			        amount: 		$('#record_form #amount').val()
			      },
			      success: function (e) {
			        records[e.item].push(e)

			        $('#amount').val('');
			        $('#submit_item').val('Save').removeClass('disabled')

			        $('#records').empty()
			        displayRecords()
			        list_active();
			      },
			      error: function () {
			      	$('#submit_item').val('Save').removeClass('disabled')
			      }
			    })
			  })
			})
